.contact {
  background-image: linear-gradient(
      105deg,
      rgba($color-main-white, 0.9) 0%,
      rgba($color-main-white, 0.9) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  background-position: center;
  background-repeat: no-repeat;
  width: 90%;
  margin: 0 auto;
  box-shadow: $box-shadow-light;

  &__content {
    text-align: left;
    padding: 5rem;
  }

  &__heading {
    text-align: left;
  }

  &__label {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: $color-grey-dark;
    letter-spacing: 0.1rem;
    display: block;
    margin-bottom: 0.5rem;
  }

  &__input {
    display: block;
    margin-bottom: 5rem;
    border: none;
    outline: none;
    font-family: inherit;
    padding: 1.2rem;
    width: 40rem;
    transition: all 0.3s;

    &--email {
      margin-bottom: 7rem;
    }
  }

  &__input:focus {
    box-shadow: $box-shadow-light;
  }
}
