.footer {
  background: $color-main-black;
  padding: 8rem 0;

  &__img {
    width: 13rem;
    margin: 0 auto;
    margin-bottom: 10rem;
  }

  &__content {
    display: flex;
    justify-content: space-around;

    @include respond(tablet-land) {
      text-align: center;
    }

    @include respond(bigPhone-port) {
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__links {
    display: flex;
    border-top: 1px solid $color-grey;
    padding: 2rem;
    li {
      margin: 0 1rem;

      @include respond(bigPhone-port) {
        margin: 1rem 0;
      }

      a {
        color: $color-offWhite;
        font-size: 1.6rem;
        text-transform: uppercase;

        &:hover {
          color: $color-primary-medium;
        }
      }
    }

    @include respond(bigPhone-port) {
      flex-direction: column;
    }
  }

  &__info {
    border-top: 1px solid $color-grey;
    padding: 2rem;
    text-align: center;

    p {
      color: $color-offWhite;
    }

    a {
      color: $color-primary-dark;

      &:hover {
        color: $color-primary-light;
      }
    }
  }
}
