.header {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../../img/hero.jpg);
  background-size: cover;
  background-position: top;
  min-height: 95vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;

  @include respond(tablet-land) {
    -webkit-clip-path: none;
    clip-path: none;
    min-height: 80vh;
  }

  @include respond(phone-land-height) {
    min-height: 100vh;
  }

  @include respond(bigPhone-port) {
    min-height: 100vh;
  }
}

.title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 50%);
  color: $color-main-white;
  text-align: center;

  @include respond(tablet-land) {
    top: 30%;
  }

  @include respond(phone-land-height) {
    top: 5%;
  }

  @include respond(phone-land) {
    top: 1%;
  }

  @include respond(bigPhone-port) {
    top: 25%;
  }

  @include respond(phone-port) {
    top: 22%;
  }

  &__primary {
    font-size: 6.5rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3rem;

    @include respond(bigPhone-port) {
      font-size: 5rem;
      letter-spacing: 1.5rem;
    }

    @include respond(phone-port) {
      font-size: 4rem;
      letter-spacing: 1rem;
    }
  }

  &__secondary {
    font-size: 2rem;
    letter-spacing: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 6rem;

    @include respond(bigPhone-port) {
      letter-spacing: 0.5rem;
    }
  }
}
