.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.4rem;

  &__logo {
    width: 8rem;
  }

  &__links {
    display: flex;
    background: rgba(255, 255, 255, 0.295);
    padding: 1.5rem 4rem;
    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);

    @include respond(tablet-port) {
      display: none;
    }
  }

  &__link-item:not(:last-child) {
    margin-right: 4rem;

    @include respond(tablet-land) {
      margin-right: 5rem;
    }
  }

  &__link {
    font-size: 1.8rem;
    letter-spacing: 0.12rem;
    font-weight: 400;
    color: $color-main-white;
    transition: all 0.2s;

    @include respond(tablet-land) {
      font-size: 2rem;
    }
  }

  &__link:hover {
    color: $color-primary-dark;
  }
}

.open-nav {
  display: none;

  @include respond(tablet-port) {
    display: block;
  }

  &__icon {
    @include respond(tablet-port) {
      width: 7rem;
      height: 7rem;
      fill: $color-main-white;
      cursor: pointer;
    }
  }
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
  z-index: 100;
  overflow: hidden;
  transform: translateX(-150%);
  transition: all 0.5s;

  &.active {
    transform: translateX(0);
  }

  &__links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__item:not(:last-child) {
    margin-bottom: 8rem;
  }

  &__link {
    font-size: 6rem;
    color: $color-main-white;
  }
}

.close-nav__icon {
  position: absolute;
  top: 4rem;
  right: 4rem;
  width: 8rem;
  height: 8rem;
  fill: $color-main-white;
  cursor: pointer;
}
