.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 3.4rem;

  &__logo {
    width: 8rem;
  }

  &__links {
    display: flex;
    background: rgba(255, 255, 255, 0.295);
    padding: 1.5rem 4rem;
    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
  }

  &__link-item:not(:last-child) {
    margin-right: 4rem;
  }

  &__link {
    font-size: 1.8rem;
    letter-spacing: 0.12rem;
    font-weight: 400;
    color: $color-main-white;
    transition: all 0.2s;
  }

  &__link:hover {
    font-weight: 900;
  }
}
