.information__images {
  width: 60rem;
  position: relative;

  @include respond(bigPhone-port) {
    display: none;
  }
}

.information__img {
  width: 52%;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: $box-shadow-medium;
  transform: translate(-50%, -50%);

  &--1 {
    top: 30%;
    left: 30%;
    transition: all 0.2s;
  }

  &--2 {
    top: 40%;
    left: 70%;
    transition: all 0.2s;
  }

  &--3 {
    top: 70%;
    transition: all 0.2s;

    @include respond(smallTablet-port) {
      top: 60%;
    }
  }

  &:hover {
    z-index: 10;
    width: 58%;
  }
}
