.skills {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;

  @include respond(smallTablet-port) {
    width: 97%;
  }

  @include respond(bigPhone-port) {
    flex-direction: column;
    width: 90%;
  }

  &__item {
    background: rgba(255, 255, 255, 0.753);
    padding: 4rem 2rem;
    text-align: center;
    width: 25rem;
    box-shadow: $box-shadow-light;
    transition: all 0.2s;

    @include respond(tablet-land) {
      width: 23rem;
    }

    @include respond(bigPhone-port) {
      width: 100%;
    }

    &:hover {
      transform: translateY(-15px) scale(1.02);
    }
  }

  &__item:not(:last-child) {
    @include respond(bigPhone-port) {
      margin-bottom: 2rem;
    }
  }

  &__icon {
    width: 7rem;
    height: 7rem;
    fill: url(#svg-gradient) #7ed56f;
    margin-bottom: 3rem;
  }
}
