.testimonials {
  display: grid;
  grid-template-rows: 2;
  row-gap: 6rem;
  &__item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    max-width: 90rem;
    background: rgba($color-main-white, 0.7);
    padding: 5rem 8rem;
    clip-path: polygon(7% 0, 100% 0%, 93% 100%, 0% 100%);

    &:hover .testimonials__name {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }

  &__img {
    width: 15rem;
    height: 15rem;
    border-radius: 100rem;
    position: relative;
    transition: all 0.3s;
    overflow: hidden;
    box-shadow: $box-shadow-light;

    & img {
      width: 100%;
      height: 100%;
      border-radius: 100rem;
    }

    &:hover & img {
      display: none;
    }
  }

  &__name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-main-white;
    padding: 100rem;
    background: rgba($color-main-black, 0.6);
    font-weight: 900;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: all 0.3s;
  }

  &__text {
    width: 70%;
  }

  &__story {
    line-height: 1.6;
  }
}
