*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 2.5rem;
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

button {
  border: none;
}
