.info,
.tours-section {
  background: $color-offWhite;
  padding: 20rem 0 35rem 0;
  margin-top: -20vh;
}

.info {
  @include respond(bigTablet-land) {
    padding-top: 25rem;
  }

  @include respond(tablet-land) {
    margin-top: 0;
    padding-top: 15rem;
  }
}

.information {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  padding-bottom: 6rem;

  @include respond(smallTablet-port) {
    width: 97%;
  }

  @include respond(bigPhone-port) {
    display: block;
  }

  &__text-container {
    width: 50rem;

    @include respond(bigPhone-port) {
      width: 100%;
    }
  }

  &__text {
    margin-bottom: 4rem;
  }
}

.skills-section {
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)
  );
  -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
  clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
  margin-top: -25rem;
  padding: 28rem 0;

  @include respond(tablet-land) {
    -webkit-clip-path: none;
    clip-path: none;
    padding: 15rem 0 36rem 0;
  }
}

.tours-section {
  margin-top: -20rem;
  padding: 27rem 0 15rem 0;

  @include respond(tablet-land) {
    padding-top: 15rem;
  }
}

.testimonials-section {
  position: relative;

  @include respond(bigPhone-port) {
    background: $color-offWhite;
  }
}

.contact-section {
  background-image: linear-gradient(
    to bottom right,
    $color-primary-light,
    $color-primary-dark
  );
}
